<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      body {
        font-family: arial, sans-serif;
        font-size: 12pt;
      }
    </style>
  </head>
  <body style="font-family: arial, sans-serif; font-size: 12pt;">
  <h1>Here are PQ statistics for week commencing 27 May and for the session.</h1>
  <p>We answered 97% by Parliament's deadline, on 38 questions due for answer. The figure for the session is 97%</p>
  <p>The 4 January to date figure is 89%.</p>
  <p>There are 2 PQs in the Backlog.</p>

  <h2>Summary</h2>

  <table style="border-collapse:collapse" border="0" cellpadding="0" cellspacing="0">
    <thead style="font-weight:bold">
    <tr>
      <td style="border:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">&nbsp;</td>
      <td style="border:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">Total PQs due for answer</td>
      <td style="border:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">PQs meeting internal deadline</td>
      <td style="border:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">PQs meeting Parliament's deadline</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="border:solid #aeaaaa 1.0pt; padding:5.4pt; border-top:none; font-weight:bold;" valign="top">Week commencing 27 May</td>
      <td style="border-top:none; border-left:none; border-bottom:solid #aeaaaa 1.0pt; border-right:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">38</td>
      <td style="border-top:none; border-left:none; border-bottom:solid #aeaaaa 1.0pt; border-right:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">33 (87%)</td>
      <td style="border-top:none; border-left:none; border-bottom:solid #aeaaaa 1.0pt; border-right:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">36 (97%)</td>
    </tr>
    <tr>
      <td style="border:solid #aeaaaa 1.0pt; padding:5.4pt; border-top:none; font-weight:bold;" valign="top">Session to date</td>
      <td style="border-top:none; border-left:none; border-bottom:solid #aeaaaa 1.0pt; border-right:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">84</td>
      <td style="border-top:none; border-left:none; border-bottom:solid #aeaaaa 1.0pt; border-right:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">72 (86%)</td>
      <td style="border-top:none; border-left:none; border-bottom:solid #aeaaaa 1.0pt; border-right:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">82 (98%)</td>
    </tr>
    <tr>
      <td style="border:solid #aeaaaa 1.0pt; padding:5.4pt; border-top:none; font-weight:bold;" valign="top">4 January 2016 to date</td>
      <td style="border-top:none; border-left:none; border-bottom:solid #aeaaaa 1.0pt; border-right:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">1101</td>
      <td style="border-top:none; border-left:none; border-bottom:solid #aeaaaa 1.0pt; border-right:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">935 (85%)</td>
      <td style="border-top:none; border-left:none; border-bottom:solid #aeaaaa 1.0pt; border-right:solid #aeaaaa 1.0pt; padding:5.4pt;" valign="top">983 (89%)</td>
    </tr>
    </tbody>
  </table>

  <h2>PQ Stats by Minister and type of PQ for week commencing Friday 27 May 2016</h2>

  <table style="border-collapse:collapse" border="0" cellpadding="0" cellspacing="0">
    <thead style="font-weight:bold">
    <tr>
      <td style="border-top:solid #999999 1.0pt; border-left:solid #999999 1.0pt; border-bottom:none; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">Directorate</td>
      <td style="border-top:solid #999999 1.0pt; border-left:solid #999999 1.0pt; border-bottom:none; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">Number of PQs received</td>
      <td style="border:none; border-top:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">Number of PQs returned by internal Parliamentary Branch deadline (11am)</td>
      <td style="border:none; border-top:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">Percentage (%) of PQs returned by internal Parliamentary Branch deadline (11am)</td>
      <td style="border:none; border-top:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">% on the day</td>
      <td style="border:none; border-top:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">Number of PQs meeting the Parliamentary Deadline</td>
      <td style="border-top:solid #999999 1.0pt; border-left:none; border-bottom:none; border-right:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">Percentage (%) of PQs meeting the Parliamentary Deadline</td>
    </tr>
    </thead>
    <tbody style="td:first-child; {font-weight:bold;}">
    <tr>
      <td style="border-top:solid #999999 1.0pt; border-left:solid #999999 1.0pt; border-bottom:none; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">Mike Penning</td>
      <td style="border-top:solid #999999 1.0pt; border-left:solid #999999 1.0pt; border-bottom:none; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">6</td>
      <td style="border:none; border-top:solid #999999 1.0pt; padding:5.4pt;" nowrap="" valign="bottom">4</td>
      <td style="border:none; border-top:solid #999999 1.0pt; padding:5.4pt;" nowrap="" valign="bottom">67%</td>
      <td style="border:none; border-top:solid #999999 1.0pt; padding:5.4pt;" nowrap="" valign="bottom">100%</td>
      <td style="border:none; border-top:solid #999999 1.0pt; padding:5.4pt;" nowrap="" valign="bottom">5</td>
      <td style="border-top:solid #999999 1.0pt; border-left:none; border-bottom:none; border-right:solid #999999 1.0pt; padding:5.4pt;" nowrap="" valign="bottom">83%</td>
    </tr>
    <tr>
      <td style="border:none; border-left:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">Andrew Selous</td>
      <td style="border:none; border-left:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">15</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">14</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">93%</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">100%</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">14</td>
      <td style="border:none; border-right:solid #999999 1.0pt; padding:5.4pt;" nowrap="" valign="bottom">93%</td>
    </tr>
    <tr>
      <td style="border:none; border-left:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">Dominic Raab</td>
      <td style="border:none; border-left:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">7</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">5</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">71%</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">71%</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">7</td>
      <td style="border:none; border-right:solid #999999 1.0pt; padding:5.4pt;" nowrap="" valign="bottom">100%</td>
    </tr>
    <tr>
      <td style="border:none; border-left:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">Shailesh Vara</td>
      <td style="border:none; border-left:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">7</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">7</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">100%</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">100%</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">7</td>
      <td style="border:none; border-right:solid #999999 1.0pt; padding:5.4pt;" nowrap="" valign="bottom">100%</td>
    </tr>
    <tr>
      <td style="border:none; border-left:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">Lord Faulks QC</td>
      <td style="border:none; border-left:solid #999999 1.0pt; padding:5.4pt;" valign="bottom">3</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">3</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">100%</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">100%</td>
      <td style="padding:5.4pt;" nowrap="" valign="bottom">3</td>
      <td style="border:none; border-right:solid #999999 1.0pt; padding:5.4pt;" nowrap="" valign="bottom">100%</td>
    </tr>
    <tr style="font-weight:bold">
      <td style="border:solid #999999 1.0pt; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">Grand Total</td>
      <td style="border:solid #999999 1.0pt; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">38</td>
      <td style="border-top:solid #999999 1.0pt; border-left:none; border-bottom:solid #999999 1.0pt; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">33</td>
      <td style="border-top:solid #999999 1.0pt; border-left:none; border-bottom:solid #999999 1.0pt; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">87%</td>
      <td style="border-top:solid #999999 1.0pt; border-left:none; border-bottom:solid #999999 1.0pt; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">95%</td>
      <td style="border-top:solid #999999 1.0pt; border-left:none; border-bottom:solid #999999 1.0pt; border-right:none; padding:5.4pt;" nowrap="" valign="bottom">36</td>
      <td style="border:solid #999999 1.0pt; border-left:none; padding:5.4pt;" nowrap="" valign="bottom">95%</td>
    </tr>
    </tbody>
  </table>
  </body>
</html>
